.content {
    display: block;
    margin-top: 1000px;
}

.articles {
    display: grid;
    column-gap: 50px;
    row-gap: 70px;
}

.img {
    width: 400px;
    height: 270px;
    background-color: gray;
}